
nav{
color: aliceblue;
font-size: 30px;
margin: 10px;
justify-content: space-around;
display: flex;

}

.nav-bar{text-decoration: none;
background:  #ff5555;
color: aliceblue;
display: flex;
padding: 50px ; 
border: 2px solid rgb(0, 0, 0);

 
    }

@media (max-width: 300px) {

    nav{
        background: #000000;
        flex-direction: column;
    }

    .nav-bar{
        margin: 10px 0px;
    }
}
